<h1>New Pokemon Card</h1>
<a href='/'>Back to Home<a/>
<a href='/items'>Back to List<a/>
<h3>Add a new card:</h3>
<form action="/items" method="post">
  <label for="newname">Name of Pokemon:</label>
  <input id="newname" name="newname" type="text">
  <label for="newptype">Pokemon Type:</label>
  <input id="newptype" name="newptype" type="text">
  <label for="newnumber">Pokemon Number:</label>
  <input id="newnumber" name="newnumber" type="text">
  <button type="submit">Submit</button>
</form>
