@using Inventory.Models;

<h1>New Pokemon Card</h1>
<a href='/'>Back to Home<a/>
<a href='/items'>Back to List<a/>
<a href='/items/find'>Find by Id<a/>

<h3>Add a new card:</h3>
<form action="/items" method="post">
  <label for="newname">Name of Pokemon:</label>
  <input id="newname" name="newname" type="text">
  <label for="newptype">Pokemon Type:</label>
  <input id="newptype" name="newptype" type="text">
  <label for="newnumber">Pokemon Number:</label>
  <input id="newnumber" name="newnumber" type="text">
  <label for="newdescriptionid">Choose type:</label>
  <select id="newdescriptionid" name="newdescriptionid">
    @foreach(var description in Description.GetAll())
    {
      <option value="@description.GetId()">@description.Getdescription()</option>
    }
  </select>
  <button type="submit">Submit</button>
</form>
