<h1>New Pokemon Card</h1>
<a href='/'>Back to Home<a/>
<a href='/items'>Back to List<a/>
<h3>Add a new card:</h3>
<form action="/items" method="post">
  <label for="new-name">Name of Pokemon:</label>
  <input id="new-name" name="new-name" type="text">
  <label for="new-ptype">Pokemon Type:</label>
  <input id="new-ptype" ptype="new-ptype" type="text">
  <label for="new-number">Pokemon Number:</label>
  <input id="new-number" number="new-number" type="text">
  <button type="submit">Submit</button>
</form>
