<h1>Find Pokemon Card</h1>
<a href='/'>Back to Home<a/>
<a href='/items'>Back to List<a/>
<h3>Find card by id:</h3>
<form action="/items/found" method="post">
  <label for="newid">Id Number:</label>
  <input id="newid" name="newid" type="text">
  <button type="submit">Submit</button>
</form>
