<h1>Collection</h1>
<a href='/items/new'>Add a New Card<a/>
<a href='/'>Back to Home<a/>
<table>
  <tr>
    <th>Pokemon Name</th>
    <th>Type</th>
    <th>Number</th>
  </tr>
  <tr>
    <td>@Model.GetName()</td>
    <td>@Model.GetPokemonType()</td>
    <td>@Model.GetNumber()</td>
  </tr>
</table>
