<h1>Collection</h1>
<a href='/items/new'>Add a New Card<a/>
<a href='/'>Back to Home<a/>
<a href='/items/find'>Find by Id<a/>
<table>
  <tr>
    <th>Pokemon Name</th>
    <th>Type</th>
    <th>Number</th>
    <th>Update</th>
  </tr>
  @foreach(var item in Model)
  {
  <tr>
    <td>@item.GetName()</td>
    <td>@item.GetPokemonType()</td>
    <td>@item.GetNumber()</td>
    <td><a href="/items/@item.GetId()/update">Edit</a></td>
    <td><a href="/items/@item.GetId()/delete">Delete</a></td>
    <!-- <form action="/items/@item.GetId()/delete" method="post">
    <button type="submit" name="button">Delete</button>
    </form> -->

  </tr>
  }
</table>
