<h1>Pokemon Card Collection</h1>
<a href='/items/new'>Add a New Card<a/>
  <br>
<a href='/items'>View List<a/>
  <br>
<a href='/description/new'>Add a New Type<a/>
  <br>
<a href='/description'>View description List<a/>
